.oblasti-prava-section {
	height: 2200px;
	padding: 40px;
}

.oblasti-prava-titles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 50px;
}

.oblasti-prava-small-title {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 4px;
}

.oblasti-prava-big-title {
	font-size: 48px;
}

.oblasti-prava-line {
	width: 0px;
	height: 50px;
	border-radius: 2px;
	border: 1px solid var(--green-color);
}

.oblasti-prava-about {
	position: relative;

	width: 1170px;
	margin: auto;

	display: flex;
}

.oblasti-prava-about-profile {
	width: 560px;
	height: 585px;
}

.oblasti-prava-about-info {
	padding: 100px;
	padding-top: 70px;
	padding-right: 0px;
}

.oblasti-prava-about-info-title {
	font-family: Cormorant;
	font-size: 48px;
	line-height: 48px;
}

.oblasti-prava-about-info-sub-title {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #23262924;

	font-family: Cormorant;
	font-size: 18px;
}

.oblasti-prava-about-info-text {
	padding-top: 40px;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 30px;
	color: var(--green-color);
}

.oblasti-prava-about-info-logo {
	position: absolute;
	top: -20px;
	right: -168px;
}

.oblasti-prava-about-info-signature {
	padding-top: 45px;
}
