<html>

<head>
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/components/law-kind-grid.css">

    <!-- Google font Cormorant -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet" />

    <!-- Google font Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="law-kind-body">
    <div class="law-kind-grid">
        <div class="law-kind-grid-element">
            <img src="../../../static/images/law-kind-icons/krivicno-pravo-icon.svg">
            <h3>Krivično Pravo</h3>
            <p>Maecenas efficitur neque posu rutrum justo vel, placerat.</p>
        </div>

        <div class="law-kind-grid-element">
            <img src="../../../static/images/law-kind-icons/krivicno-pravo-icon.svg">
            <h3>Upravno Pravo</h3>
            <p>Maecenas efficitur neque posu rutrum justo vel, placerat.</p>
        </div>

        <div class="law-kind-grid-element">
            <img src="../../../static/images/law-kind-icons/family-law-icon.svg">
            <h3>Family Law</h3>
            <p>Maecenas efficitur neque posu rutrum justo vel, placerat.</p>
        </div>

        <div class="law-kind-grid-element">
            <img src="../../../static/images/law-kind-icons/insurance-defense-icon.svg">
            <h3>Insurance Defense</h3>
            <p>Maecenas efficitur neque posu rutrum justo vel, placerat.</p>
        </div>

        <div class="law-kind-grid-element">
            <img src="../../../static/images/law-kind-icons/divorce-law-icon.svg">
            <h3>Divorce Law</h3>
            <p>Maecenas efficitur neque posu rutrum justo vel, placerat.</p>
        </div>

        <div class="law-kind-grid-element">
            <img src="../../../static/images/law-kind-icons/car-accident-law-icon.svg">
            <h3>Car Accidents Law</h3>
            <p>Maecenas efficitur neque posu rutrum justo vel, placerat.</p>
        </div>

        <div class="law-kind-grid-element">
            <img src="../../../static/images/law-kind-icons/child-crime-law-icon.svg">
            <h3>Child Crime Law</h3>
            <p>Maecenas efficitur neque posu rutrum justo vel, placerat.</p>
        </div>

        <div class="law-kind-grid-element">
            <img src="../../../static/images/law-kind-icons/health-care-law-icon.svg">
            <h3>Health Care Law</h3>
            <p>Maecenas efficitur neque posu rutrum justo vel, placerat.</p>
        </div>
    </div>
</body>

</html>